<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <bean id="Human" class="Capgemini.SpringAssignment.Q5.Human">
        <property name="name" value="chandu"/>
        <property name="p" ref="phone"/>
    </bean>
    <bean id="Gender" class="Capgemini.SpringAssignment.Q5.Gender">
        <property name="gender" value="male"/>
    </bean>
    <bean id="Phone" class="Capgemini.SpringAssignment.Q5.Phone">
        <constructor-arg index="0" type="long" value="9911964666"/>
    </bean>
</beans>
